h1{
    text-align: center;
    background-color: red;
}
h3{
    background-color: pink;
    text-align: center;
    color: deeppink;
}
p{
    text-align: center;
    width: 600px;
    height: 200px;
    background-color: gold;
    margin: 0 auto;
    border: 10px solid red;
    border-radius: 10px;
}
.d{
    width: 600px;
    height: 600px;
    display:block;
    padding-left: 450px;
    margin: 50px;
    ;
}
.r{
    color: red;
    text-align: center;
}